*.class
# Package Files #
*.jar
*.war
*.ear
*.iml
/.idea
.idea/
.svn
*.svn
doc
/target
**/target/*
/bin
/.settings
/.classpath
/.project
/src/main/webapp/uploadfiles/*
rebel*.xml
*.project
*.classpath
**/.settings/*
